@if (signupForm) {
  <section class="auth-common login">
    <div class="container">
      <div class="auth-common-left">
        <h2 class="auth-common-title">{{ 'auth.auth-title' | translate }}</h2>
        <h3 class="auth-common-description">
          {{ 'auth.auth-description' | translate }}
        </h3>

        <div class="auth-form-container">
          <form
            [formGroup]="signupForm"
            appPasswordRepeat
            appPasswordNotEmail
            class="auth-common-form">
            @if (choiceOfLogin === choiceOfLoginEnum.EMAIL) {
              <div class="auth-common-wrapper">
                <div class="auth-common-item">
                  <input
                    [ngStyle]="{
                      'border-color':
                        signupForm.get('email')?.invalid &&
                        (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)
                          ? 'red'
                          : '',
                    }"
                    formControlName="email"
                    class="input auth-common-input"
                    placeholder="Email"
                    type="text"
                    id="email" />
                </div>
                @if (
                  signupForm &&
                  signupForm.get('email')?.invalid &&
                  (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)
                ) {
                  <div class="auth-common-errors">
                    @if (signupForm!.get('email')?.errors?.['required']) {
                      <span class="auth-common-error">
                        {{ 'auth.error-email-required' | translate }}
                      </span>
                    }
                    @if (signupForm!.get('email')?.errors?.['email']) {
                      <span class="auth-common-error">
                        {{ 'auth.error-email-email' | translate }}
                      </span>
                    }
                  </div>
                }
              </div>
            }
            @if (choiceOfLogin === choiceOfLoginEnum.PHONE) {
              <div class="auth-common-wrapper">
                <div class="auth-common-item">
                  <input
                    [ngStyle]="{
                      'border-color':
                        signupForm.get('phone')?.invalid &&
                        (signupForm.get('phone')?.touched || signupForm.get('phone')?.dirty)
                          ? 'red'
                          : '',
                    }"
                    formControlName="phone"
                    class="input auth-common-input"
                    placeholder="Phone"
                    type="text"
                    id="phone" />
                </div>
                @if (
                  signupForm &&
                  signupForm.get('phone')?.invalid &&
                  (signupForm.get('phone')?.touched || signupForm.get('phone')?.dirty)
                ) {
                  <div class="auth-common-errors">
                    @if (signupForm!.get('phone')?.errors?.['required']) {
                      <span class="auth-common-error">
                        {{ 'auth.error-phone-required' | translate }}
                      </span>
                    }
                  </div>
                }
              </div>
            }
            <div class="auth-common-wrapper">
              <div class="auth-common-item">
                <input
                  [ngStyle]="{
                    'border-color':
                      signupForm.get('username')?.invalid &&
                      (signupForm.get('username')?.touched || signupForm.get('username')?.dirty)
                        ? 'red'
                        : '',
                  }"
                  formControlName="username"
                  class="input auth-common-input"
                  placeholder="Username"
                  type="text"
                  id="username" />
              </div>
              @if (
                signupForm &&
                signupForm.get('username')?.invalid &&
                (signupForm.get('username')?.touched || signupForm.get('username')?.dirty)
              ) {
                <div class="auth-common-errors">
                  @if (signupForm!.get('username')?.errors?.['required']) {
                    <span class="auth-common-error">
                      {{ 'auth.error-username-required' | translate }}
                    </span>
                  }
                </div>
              }
            </div>
            <div class="auth-common-wrapper">
              <div class="auth-common-item">
                <input
                  [ngStyle]="{
                    'border-color':
                      signupForm!.get('password')?.invalid &&
                      (signupForm!.get('password')?.touched || signupForm!.get('password')?.dirty)
                        ? 'red'
                        : '',
                  }"
                  formControlName="password"
                  class="input auth-common-input"
                  placeholder="Password"
                  [type]="isShowPassword ? 'password' : 'text'"
                  id="password" />
                <div class="auth-common-eye">
                  @if (!isShowPassword) {
                    <svg-icon
                      (click)="toggleShowPassword('password')"
                      [src]="imagesIconsPath + 'eye-close.svg'"></svg-icon>
                  } @else {
                    <svg-icon
                      (click)="toggleShowPassword('password')"
                      [src]="imagesIconsPath + 'eye-open.svg'"></svg-icon>
                  }
                </div>
              </div>
              @if (
                signupForm &&
                signupForm.get('password')?.invalid &&
                (signupForm.get('password')?.touched || signupForm.get('password')?.dirty)
              ) {
                <div class="auth-common-errors">
                  @if (signupForm!.get('password')?.errors?.['required']) {
                    <span class="auth-common-error">
                      {{ 'auth.error-password-required' | translate }}
                    </span>
                  }
                  @if (signupForm!.get('password')?.errors?.['pattern']) {
                    <span class="auth-common-error">
                      {{ 'auth.error-password-pattern' | translate }}
                    </span>
                  }
                  @if (signupForm!.get('password')?.errors?.['passwordAsEmail']) {
                    <span class="auth-common-error">{{ 'auth.patternLikeEmail' | translate }}</span>
                  }
                </div>
              }
            </div>
            <div class="auth-common-wrapper">
              <div class="auth-common-item">
                <input
                  [ngStyle]="{
                    'border-color':
                      signupForm!.get('passwordRepeat')?.invalid &&
                      (signupForm!.get('passwordRepeat')?.touched ||
                        signupForm!.get('passwordRepeat')?.dirty)
                        ? 'red'
                        : '',
                  }"
                  formControlName="passwordRepeat"
                  class="input auth-common-input"
                  placeholder="Password Repeat"
                  [type]="isShowPasswordRepeat ? 'password' : 'text'"
                  id="passwordRepeat" />
                <div class="auth-common-eye">
                  @if (!isShowPasswordRepeat) {
                    <svg-icon
                      (click)="toggleShowPassword('passwordRepeat')"
                      [src]="imagesIconsPath + 'eye-close.svg'"></svg-icon>
                  } @else {
                    <svg-icon
                      (click)="toggleShowPassword('passwordRepeat')"
                      [src]="imagesIconsPath + 'eye-open.svg'"></svg-icon>
                  }
                </div>
              </div>
              @if (
                signupForm &&
                signupForm.get('passwordRepeat')?.invalid &&
                (signupForm.get('passwordRepeat')?.touched ||
                  signupForm.get('passwordRepeat')?.dirty)
              ) {
                <div class="auth-common-errors">
                  @if (signupForm!.get('passwordRepeat')?.errors?.['required']) {
                    <span class="auth-common-error">
                      {{ 'auth.error-passwordRepeat-required' | translate }}
                    </span>
                  }
                  @if (signupForm!.get('passwordRepeat')?.errors?.['passwordRepeat']) {
                    <span class="auth-common-error">
                      {{ 'auth.error-passwordRepeat-pattern' | translate }}
                    </span>
                  }
                </div>
              }
            </div>
          </form>
          <button
            (click)="register()"
            [disabled]="signupForm!.invalid"
            class="button button-yellow auth-form-button">
            {{ 'auth.log-in-button' | translate }}
          </button>
        </div>
        <div class="line">
          <hr />
          <span>{{ 'auth.or-text' | translate }}</span>
          <hr />
        </div>
        <div class="auth-common-methods">
          <div (click)="loginViaGoogle()" class="auth-common-method">
            <img [src]="imagesIconsPath + 'google-icon.png'" alt="Google" />
          </div>
          <div
            [class]="{
              'auth-common-method': true,
              'border-blue': choiceOfLogin === choiceOfLoginEnum.EMAIL,
            }">
            <img [src]="imagesIconsPath + 'email-icon.png'" alt="Email" />
          </div>
          <div
            (click)="choosePhoneForLogin()"
            [class]="{
              'auth-common-method': true,
              'border-blue': choiceOfLogin === choiceOfLoginEnum.PHONE,
            }">
            <img [src]="imagesIconsPath + 'phone-icon.png'" alt="Phone" />
          </div>
        </div>
        <p class="auth-common-switch">
          {{ 'auth.already-have' | translate }}
          <a [routerLink]="'/login'">{{ 'auth.register-button' | translate }}</a>
        </p>
      </div>
      <div class="auth-common-right">
        <img [src]="imagePath + 'register-image.webp'" alt="Booking" />
      </div>
    </div>
  </section>
}
