@if (loginForm) {
  <section class="auth-common login">
    <div class="container">
      <div class="auth-common-left">
        <h2 class="auth-common-title">{{ 'auth.welcome-back' | translate }}</h2>
        <h3 class="auth-common-description">
          {{ 'auth.login-description' | translate }}
        </h3>

        <div class="auth-form-container">
          <form [formGroup]="loginForm" class="auth-common-form">
            @if (choiceOfLogin === choiceOfLoginEnum.EMAIL) {
              <div class="auth-common-wrapper">
                <div class="auth-common-item">
                  <input
                    [ngStyle]="{
                      'border-color':
                        loginForm.get('email')?.invalid &&
                        (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)
                          ? 'red'
                          : '',
                    }"
                    formControlName="email"
                    class="input auth-common-input"
                    placeholder="Email"
                    type="text"
                    id="email" />
                </div>
                @if (
                  loginForm &&
                  loginForm.get('email')?.invalid &&
                  (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)
                ) {
                  <div class="auth-common-errors">
                    @if (loginForm!.get('email')?.errors?.['required']) {
                      <span class="auth-common-error">
                        {{ 'auth.error-email-required' | translate }}
                      </span>
                    }
                    @if (loginForm!.get('email')?.errors?.['email']) {
                      <span class="auth-common-error">
                        {{ 'auth.error-email-email' | translate }}
                      </span>
                    }
                  </div>
                }
              </div>
            }
            @if (choiceOfLogin === choiceOfLoginEnum.PHONE && showPhoneControl()) {
              <div class="auth-common-wrapper">
                <div class="auth-common-item">
                  <input
                    [ngStyle]="{
                      'border-color':
                        loginForm.get('phone')?.invalid &&
                        (loginForm.get('phone')?.touched || loginForm.get('phone')?.dirty)
                          ? 'red'
                          : '',
                    }"
                    formControlName="phone"
                    class="input auth-common-input"
                    placeholder="Phone"
                    type="text"
                    id="phone" />
                </div>
                @if (
                  loginForm &&
                  loginForm.get('phone')?.invalid &&
                  (loginForm.get('phone')?.touched || loginForm.get('phone')?.dirty)
                ) {
                  <div class="auth-common-errors">
                    @if (loginForm!.get('phone')?.errors?.['required']) {
                      <span class="auth-common-error">
                        {{ 'auth.error-phone-required' | translate }}
                      </span>
                    }
                  </div>
                }
              </div>
            }
            @if (choiceOfLogin === choiceOfLoginEnum.PHONE) {
              <div class="auth-common-wrapper">
                <div class="auth-common-item">
                  <input
                    [ngStyle]="{
                      'border-color':
                        loginForm.get('code')?.invalid &&
                        (loginForm.get('code')?.touched || loginForm.get('code')?.dirty)
                          ? 'red'
                          : '',
                    }"
                    formControlName="code"
                    class="input auth-common-input"
                    placeholder="Code"
                    type="text"
                    id="code" />
                </div>
                @if (
                  loginForm &&
                  loginForm.get('code')?.invalid &&
                  (loginForm.get('code')?.touched || loginForm.get('code')?.dirty)
                ) {
                  <div class="auth-common-errors">
                    @if (loginForm!.get('code')?.errors?.['required']) {
                      <span class="auth-common-error">
                        {{ 'auth.error-code-required' | translate }}
                      </span>
                    }
                  </div>
                }
              </div>
            }
            @if (choiceOfLogin === choiceOfLoginEnum.EMAIL) {
              <div class="auth-common-wrapper">
                <div class="auth-common-item">
                  <input
                    [ngStyle]="{
                      'border-color':
                        loginForm.get('password')?.invalid &&
                        (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)
                          ? 'red'
                          : '',
                    }"
                    formControlName="password"
                    class="input auth-common-input"
                    placeholder="Password"
                    [type]="isShowPassword ? 'password' : 'text'"
                    id="password" />
                  <div class="auth-common-eye">
                    @if (!isShowPassword) {
                      <svg-icon
                        (click)="toggleShowPassword()"
                        [src]="imagesIconsPath + 'eye-close.svg'"></svg-icon>
                    } @else {
                      <svg-icon
                        (click)="toggleShowPassword()"
                        [src]="imagesIconsPath + 'eye-open.svg'"></svg-icon>
                    }
                  </div>
                </div>
                @if (
                  loginForm &&
                  loginForm.get('password')?.invalid &&
                  (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)
                ) {
                  <div class="auth-common-errors">
                    @if (loginForm!.get('password')?.errors?.['required']) {
                      <span class="auth-common-error">
                        {{ 'auth.error-password-required' | translate }}
                      </span>
                    }
                  </div>
                }
              </div>
            }
          </form>
          <div id="recaptcha-container"></div>
          @if (choiceOfLogin === choiceOfLoginEnum.EMAIL) {
            <button
              (click)="login()"
              [disabled]="loginForm.invalid"
              class="button button-yellow auth-form-button">
              {{ 'auth.log-in-button' | translate }}
            </button>
          } @else if (choiceOfLogin === choiceOfLoginEnum.PHONE) {
            @if (showPhoneControl()) {
              <button
                [disabled]="!loginForm.get('phone')?.valid"
                (click)="sendOTP()"
                class="button button-yellow auth-form-button">
                {{ 'auth.send-otp' | translate }}
              </button>
            } @else {
              <button
                [disabled]="!loginForm.get('code')?.valid"
                (click)="verifyOTP()"
                class="button button-yellow auth-form-button">
                {{ 'auth.verify-otp' | translate }}
              </button>
            }
          }
        </div>
        <div class="line">
          <hr />
          <span>{{ 'auth.or-text' | translate }}</span>
          <hr />
        </div>
        <div class="auth-common-methods">
          <div class="auth-common-method" (click)="loginViaGoogle()">
            <img [src]="imagesIconsPath + 'google-icon.png'" alt="Google" />
          </div>
          <div
            (click)="chooseEmailForLogin()"
            [class]="{
              'auth-common-method': true,
              'border-blue': choiceOfLogin === choiceOfLoginEnum.EMAIL,
            }">
            <img [src]="imagesIconsPath + 'email-icon.png'" alt="Email" />
          </div>
          <div
            (click)="choosePhoneForLogin()"
            [class]="{
              'auth-common-method': true,
              'border-blue': choiceOfLogin === choiceOfLoginEnum.PHONE,
            }">
            <img [src]="imagesIconsPath + 'phone-icon.png'" alt="Phone" />
          </div>
        </div>
        <p class="auth-common-switch">
          {{ 'auth.dont-account' | translate }}
          <a [routerLink]="'/signup'">{{ 'auth.login-button' | translate }}</a>
        </p>
      </div>
      <div class="auth-common-right">
        <img [src]="imagePath + 'login-image.webp'" alt="Booking" />
      </div>
    </div>
  </section>
}
