<main class="main">
  <div class="main-carousel">
    <owl-carousel-o [options]="customOptions" #owlCarouselMain>
      @for (slide of images; track slide) {
        <ng-template carouselSlide [id]="slide.id">
          <div class="main-carousel-item">
            <img
              style="background-image: url({{ imagesPath + slide.src }})"
              alt="{{ slide.alt | translate }}"
              title="{{ slide.alt | translate }}" />
          </div>
        </ng-template>
      }
    </owl-carousel-o>
    <div class="main-carousel-arrows">
      <svg-icon
        (click)="owlCarouselMain.prev()"
        [src]="imagesIconsPath + 'arrow-left.svg'"
        [svgStyle]="{ cursor: 'pointer' }"></svg-icon>
      <svg-icon
        (click)="owlCarouselMain.next()"
        [src]="imagesIconsPath + 'arrow-left.svg'"
        [svgStyle]="{ transform: 'rotate(180deg)', cursor: 'pointer' }"></svg-icon>
    </div>
    <div class="main-carousel-info">
      <h1 class="main-carousel-info-h1">{{ 'main-page.main-title' | translate }}</h1>
      <h3>{{ 'main-page.second-title' | translate }}</h3>

      <div class="main-carousel-info-buttons">
        <button class="button button-blue">{{ 'buttons.find-housing' | translate }}</button>
        <button class="button button-transparent">
          {{ 'buttons.popular-destinations' | translate }}
        </button>
      </div>
    </div>
  </div>
</main>

<section class="about margin-top">
  <div class="container">
    <div class="about-info">
      <h2 [innerHTML]="'main-page.about-title' | translate"></h2>
      <p class="about-description">{{ 'main-page.about-us' | translate }}</p>
    </div>
    <div class="about-img" style="background-image: url({{ imagesPath + 'about-us.webp' }})"></div>
  </div>
</section>

<section class="advantages margin-top">
  <div class="container">
    <h2>{{ 'main-page.advantages-title' | translate }}</h2>
    <div class="advantages-items">
      @for (advantage of advantages; track advantage; let even = $even) {
        <div
          class="advantages-item"
          [class]="{ 'advantage-item-border': even, 'advantage-item-background': !even }">
          <div
            class="small-icon"
            style="background-image: url({{ imagesIconsPath + advantage.src }})"></div>
          <h3 class="advantage-item-title">{{ advantage.title | translate }}</h3>
          <p class="advantage-item-description">{{ advantage.description | translate }}</p>
        </div>
      }
    </div>
  </div>
</section>

<section class="reviews margin-top">
  <div class="container">
    <h2 class="reviews-h2">{{ 'main-page.reviews-title' | translate }}</h2>
    <div class="reviews-carousel">
      <owl-carousel-o [options]="customOptionsReviews" #owlCarouselReviews>
        @for (review of reviews; track review) {
          <ng-template carouselSlide [id]="review.id">
            <div class="reviews-carousel-item">
              <p class="reviews-carousel-item-title">"{{ review.title }}"</p>
              <p>{{ review.description }}</p>
            </div>
          </ng-template>
        }
      </owl-carousel-o>
      <div class="reviews-carousel-arrows">
        <svg-icon
          (click)="owlCarouselReviews.prev()"
          [src]="imagesIconsPath + 'arrow-left.svg'"
          [svgStyle]="{ cursor: 'pointer' }"></svg-icon>
        <svg-icon
          (click)="owlCarouselReviews.next()"
          [src]="imagesIconsPath + 'arrow-left.svg'"
          [svgStyle]="{ transform: 'rotate(180deg)', cursor: 'pointer' }"></svg-icon>
      </div>
    </div>
  </div>
</section>

<section class="map margin-top">
  <app-map></app-map>
</section>
