:root {
  --primary-blue-color: #003b95;
  --primary-blue-hover-color: #0246a5;
  --primary-blue-active-color: #00347c;
  --primary-gray-color: #b1bebd;
  --secondary-blue-color: #006ce4;
  --secondary-gray-color: #c8c8c8;
  --secondary-yellow-color: #ffb700;
  --secondary-yellow-hover-color: #ffbb07;
  --secondary-yellow-active-color: #d69800;
  --secondary-light-color: #e6edec;
  --text-darker-color: #032128;
  --text-darker-input-color: #294248;
  --text-dark-color: #495c61;
  --text-light-color: #d3dadc;
  --text-white-color: #fff;
  --mistake-color: #d40000;
  --disabled-color: #c8c8c8;
}
