@font-face {
  src: url('../fonts/Alice-Regular.ttf') format('truetype');
  font-family: Alice-Regular;
  font-weight: 400;
}

@font-face {
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-family: Raleway;
  font-weight: 400;
}

@font-face {
  src: url('../fonts/Raleway-Medium.ttf') format('truetype');
  font-family: Raleway;
  font-weight: 500;
}

@font-face {
  src: url('../fonts/Snell-Roundhand.ttf') format('truetype');
  font-family: Snell-Roundhand;
  font-weight: 400;
}
