html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  font-weight: 400;
}

html {
  font-size: var(--base-font-size);
  color: var(--text-darker-color);
}

body {
  font-size: var(--p-font-size);
  line-height: var(--line-height-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
}

h1 {
  font-size: var(--h1-font-size);
  font-family: Snell-Roundhand, sans-serif;
  font-weight: 400;
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  font-size: var(--small-font-size);
}

button {
  cursor: pointer;
  border: 0;
  font-size: var(--small-font-size);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

input {
  font-size: var(--small-font-size);
  outline: none;
  border: 0;
  color: var(--text-white-color);
  font-family: Releway, sans-serif;
  font-weight: 500;
}

input::placeholder {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: var(--text-light-color);
}

a {
  color: var(--text-white-color);
}

.button {
  padding: 13px 40px;
  color: var(--text-white-color);
  text-transform: uppercase;
  font-family: Relaway, sans-serif;
  font-weight: 600;
}

.button-blue {
  background: var(--primary-blue-color);
}

.button-blue:hover {
  background: var(--primary-blue-hover-color);
}

.button-blue:active {
  background: var(--primary-blue-active-color);
}

.button-yellow {
  background: var(--secondary-yellow-color);
}

.button-yellow:hover {
  background: var(--secondary-yellow-hover-color);
}

.button-yellow:active {
  background: var(--secondary-yellow-active-color);
}

.button-transparent {
  background: transparent;
  border: 1px solid var(--primary-blue-color);
}

.button-transparent:hover {
  background: transparent;
  border: 1px solid var(--primary-blue-hover-color);
}

.button-transparent:active {
  background: transparent;
  border: 1px solid var(--primary-blue-active-color);
}

.button:disabled {
  background: var(--disabled-color);
}

.about-booking {
  font-family: Snell-Roundhand, sans-serif;
  font-weight: 400;
}

.small-icon {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

input[type='text'] {
  padding: 10px;
  height: 42px;
  font-size: 16px;
  border: 1px solid #b1bebd;
  border-radius: 4px;
  width: 100%;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  background-color: transparent;
}

input[type='text']:focus {
  border-color: #007bff;
}

.auth-common-error {
  color: var(--mistake-color);
  margin-top: 7px;
  font-family: Releway, sans-serif;
  font-weight: 500;
  display: inline-block;
}

.line {
  display: flex;
  align-items: center;
  column-gap: 7px;
  color: var(--text-white-color);
}

.line hr {
  display: inline-block;
  width: 40%;
  border: none;
  border-top: 1px solid var(--text-white-color);
}

@media (width <= 1200px) {
  html {
    font-size: 15px;
  }
}

@media (width <= 992px) {
  html {
    font-size: 14px;
  }
}

@media (width <= 768px) {
  html {
    font-size: 13px;
  }
}

@media (width <= 576px) {
  html {
    font-size: 12px;
  }
}

.margin-top {
  margin-top: 9.375rem;

  @media (width <= 1200px) {
    margin-top: 7.5rem;
  }

  @media (width <= 992px) {
    margin-top: 6.25rem;
  }

  @media (width <= 768px) {
    margin-top: 5rem;
  }
}
